<footer>
  <p>
    All right reserved &copy; by Yohem VAXELAIRE 2022 |
    <a href="contact.html" class="link">Contact</a>
  </p>
</footer>
<script src="../js/index.js"></script>
<script src="../js/formSys.js"></script>
<script src="../js/cardSys.js"></script>
<script src="../js/lessons-container.js"></script>