
<!DOCTYPE html>

      <header>
        <h2>Le <span>J</span>ournal du <span>D</span>év</h2>
        <h3>
          pour les jeunes programmeurs en quête de nouveaux horizons!
        </h3>
      </header>
    