
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>Le Journale du Dév</title>
  </head>
  <body>
    <nav id="menu-nav"></nav>
    <main>
      <header>
        <h2>Le <span>J</span>ournale du <span>D</span>év</h2>
        <h3>
          Fait pour les jeunes programmeur en quetes de nouveaux apprentissage
        </h3>
      </header>
    