<div class="cour-creation">
    <form action="create-formation" method="post">
        <div class="fieldset">
            <label for="title">Titre :</label>
            <input type="text" name="title" id="title">
        </div>
        <div class="fieldset">
            <label for="desc">Description :</label>
            <textarea name="desc" id="desc" cols="100" rows="10"></textarea>
        </div>
        <div class="fieldset">
            <label for="time">Difficulté :</label>
            <input type="number" name="difficulty" id="difficulty">
        </div>
        <input type="submit" id="new-fomation">
    </form>
</div>