<form action="create-cour" method="post">
    <div class="fieldset">
        <label for="author">Auteur :</label>
        <input type="text" name="author" id="author">
    </div>
    <div class="fieldset">
        <label for="title">Titre :</label>
        <input type="text" name="title" id="title">
    </div>
    <div class="fieldset">
        <label for="summary">Sommaire :</label>
        <textarea name="summary" id="summary" cols="100" rows="10"></textarea>
    </div>
    <div class="fieldset">
        <label for="content">Contenue :</label>
        <textarea name="content" id="content" cols="100" rows="10"></textarea>
    </div>
    <div class="fieldset">
        <label for="desc">Description :</label>
        <textarea name="desc" id="desc" cols="100" rows="10"></textarea>
    </div>
    <div class="fieldset">
        <label for="time">Temps(minutes) :</label>
        <input type="number" name="time" id="time">
    </div>
    <input type="submit" id="new-cour">
</form>