:root{
    --backgroung: #ECF0F1;
    --main: #2C3E50;
    --interactif: #16A085;
    --important: #F39C12;
    --green-gradiant: linear-gradient(45deg, var(--interactif) 20%, var(--main) 60%);
}
@font-face {
    font-family: "poppins";
    src: url(./assets/Poppins.ttf);
}

/* *{
    outline: 1px red solid;
} */

*, ::after, ::before{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
    color: var(--main);
}

body{
    overflow: hidden;
    overflow-y: scroll;
    background: rgb(227, 227, 227);
    font-size: 1.2rem;
}
strong{
    color: var(--important);
    background-clip: text;
    background: linear-gradient(45deg, var(--important) 0% 60%, var(--interactif) 100%);
    background: -webkit-linear-gradient(45deg, var(--important) 0% 60%, var(--interactif) 100%);
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

}
.hide{
    display: none !important;
}

nav ul{
    display: inline-flex;
    width: 100%;
}
nav ul .link{
    display: flex;
    width: 80%;
}
textarea{
    resize: none;
}
li{
    list-style-type: none;
}

a{
    color: var(--interactif);
}
a:hover{
    color: var(--main) ;
    transition: all 0.1s ease-out;
}
h4 a{
    font-size: 1.4rem;
    text-shadow: 0 0 2px var(--main);
}
nav ul li img:nth-last-child(1){
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translate(-50%, -50%) scale(2);
    width: 50px;
    height: 50px;
    border-radius: 9999px;
}
nav ul li:hover img:nth-child(1){
    transform:scale(1.5) translate(45px, -26%) ;
}
nav ul li img:nth-child(1){
    transform-origin: 80% 20%;
    transition: all 0.4s ease-out;
    transform: translate(25px, -10%);
}
nav ul > li:nth-last-child(1){
    position: relative;
    width: 20%;
}
.grow-anim{
    animation: grow-anim 1s ease-in 0s 1;
}
nav ul li{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--main);
    transition: all 0.2s;
    color: var(--important);
    background: linear-gradient(to left, transparent 50%, var(--important) 60% 90%, transparent);
    background-size: 200%;
    background-position: 100%;
}
nav{
    backdrop-filter: blur(10px);
    background: var(--green-gradiant);
    margin-top: 5vh;
    z-index: 15;
    box-shadow: 0 0 20px ;
    position: fixed;
    width: 100%;
}
main header  span{
    color: var(--important);
    text-shadow: 0 0 3px var(--main);
}

nav ul li:hover{
    background-position: 0%;
}

nav ul li:hover > a{
    color: var(--main);
}
nav ul li a{
    font-size: 1.5rem;
    letter-spacing: 3px;
    width: 100%;
    height: auto;
    text-align: center;
    color: inherit;
    line-height: 60px;
}

main{
    margin: 0 5vw;
    padding: 15px 40px;
    min-height: 100vh;
    box-shadow: 0 0 15px 4px;
    background: var(--backgroung);
}

header{
    margin-bottom: 20px;
    border-bottom: 10px dashed var(--important);
    margin-top: 10vh;
}
header h2{
    padding-left: 13vw;
    font-size: 2.2rem;
    letter-spacing: 4px;
    line-height: 140px;
}
header h3{
    padding-left: 5vw;
    font-size:  1.5rem;
}
header h4{
    margin-left: 5vw;
}
h2{
    font-size: 2.2rem;
    letter-spacing: 4px;
    line-height: 140px;;
}
h3{
    font-size:  2rem;
    letter-spacing: 3px;

}
h4{
    font-size: 1.6rem;
    letter-spacing: 2px;
    line-height: 60px;
}
h5{
    font-size: 1.4rem ;
    line-height: 40px;
    letter-spacing: 1px;
}

section{
    padding: 3vh 0;
}

.presentation-box{
    margin: 10px;
    border-top: solid 1px var(--backgroung);
}

.presentation-box a {
    margin-left: 2vw;
}

#other-presentation, #content-cards{
    border-bottom: 4px double var(--important);
    box-shadow: 0px 6px 8px -5px var(--important);
}

footer{
    background: var(--green-gradiant);
    padding: 30px 4vw;
    box-shadow: 0px -3px 17px 0px;
    text-align: center;
}
footer p {
    
    color: var(--backgroung);
}
.lesson-card{
    min-width: 300px;
    width: 300px;
    height: 200px;
    margin: 0;
    transition: 0.3s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
#content-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 30px;
    padding: 30px;
    margin-bottom: 40px;
}
.one-card-container:hover > .lesson-card{
    transform: rotateY(180deg);
}
#structure-front{
    background: url(./assets/structure_html.webp) center/cover;
}

#html-front{
    background: url(./assets/html.PNG);
    color: var(--backgroung);
}
.lesson-content li{
    list-style-type: space-counter;
}
.img-right{
    display: flex;
    align-items: flex-start;
}
.img-right img{
    margin: auto 0;
}
div.lesson-content li{
    list-style-position: inside;
}

div.lesson-content h2,div.lesson-content h3,div.lesson-content h4,div.lesson-content h5{
    line-height: 5rem;
}
code{
    background-color: var(--main);
    border: 2px solid var(--important);
    color: var(--backgroung);
    padding: 1rem;
    border-radius: 1rem;
    white-space: nowrap;
    letter-spacing: 0.2rem;
    line-height: 3.2rem;
}
pre{
    background-color: var(--main);
    border: 2px solid var(--important);
    color: var(--backgroung);
    padding: 1rem;
    border-radius: 1rem;
    letter-spacing: 0.2rem;

}

/* Topic */
#topic-content h3{
    text-align: center;
}

#topic-content #topic-explication {
    border: 4px double var(--important);
    border-radius: 5px;
    margin-bottom: 3vh;
    
}

#topic-content .topic-answer{
    border: 2px solid var(--main);
    margin-bottom: 2vh;
    background: var(--backgroung);
}

#topic-content .topic-answer,#topic-content #topic-explication{
    padding: 1vh 4vw;
}

#comment-topic{
    text-align: center;
    
}

.form-anim h2 strong{
    color: var(--important);
}
.form-anim h2{
    color: var(--main);
    text-shadow: -2px 2px 0 var(--main),
                    2px -2px 0 var(--main),
                    -2px -2px 0 var(--main),
                    2px 2px 0 var(--main);
    line-height: 2.2rem;
}

.form-anim .form-groupe label{
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    color: var(--main);
    transition: 0.4s ease-out;
    font-size: 2rem;
}

.form-anim .form-groupe input{
    display: block;
    width: 100%;
    padding: 10px 0px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 3px solid var(--main);
    color: var(--main);
    font-size: 2rem;
    transition: 0.4s ease-out;
}
.form-groupe:nth-last-child(2) {
    margin-bottom: 2vh;
    justify-content: center;
}

.form-anim .form-groupe{
    position: relative;
    display: flex;
    margin-bottom: 40px;
}
.form-anim .form-groupe input[type="submit"], section#lessons-commentary section#form-comment div input[type="submit"] {
    display: block;
    width: auto;
    padding: 15px 60px;
    border: 3px solid var(--interactif);
    border-radius: 999px;
    background-image: linear-gradient(to right, transparent 50%, var(--interactif) 50%, var(--main));
    background-size: 200%;
    font-size: 2rem;
    cursor: pointer;
}

.form-anim .form-groupe input[type="submit"]:hover, section#lessons-commentary section#form-comment div input[type="submit"]:hover {
    color: var(--backgroung);
    background-position: 100%;
    border: 3px solid var(--backgroung);
}

.form-anim .link-form a {
    margin-left: 2vw;
    font-size: 1.5rem;
    border-bottom: 2px solid  transparent;
}
.form-anim .link-form a:hover{
    border-bottom-color: var(--important) ;
}
.form-anim fieldset {
    padding-top: 2rem;
}

/* animation */
.form-anim .form-groupe:focus-within label,
.form-anim .form-groupe.animation label{
    top: 0px;
    transform: translateY(-100%);
    color: var(--important);
    font-size: 2rem;
}
.form-anim .form-groupe:focus-within input :not([type="submit"]),
.form-anim .form-groupe.animation input :not([type="submit"]){
    border-color: var(--important);
}

/* section des commentaire de cours */

section#lessons-commentary {
}
section#lessons-commentary section#all-comments{
    border: var(--main) 1px solid;
    padding: 10px;
    border-radius: 10px;
    
}
section#lessons-commentary section#all-comments .comment-container{
    border: var(--main) 1px solid;
    margin: 1vh 0;
    padding: 2vh 1vw;
    border-radius: 10px;
}
section#lessons-commentary section#all-comments .comment-container{
    width: 100%;
}
section#lessons-commentary section#all-comments .comment-container .author{
    width: 80%;
    font-size: 1.4rem;
    margin-left: 1vw;
    font-weight: 600;
}
section#lessons-commentary section#all-comments .comment-container .created-at{
    font-size: 0.8rem;
    text-align: right;
}
section#lessons-commentary section#all-comments .comment-container .comment{
    width: 100%;
}
section#lessons-commentary section#form-comment div{
    display:flex;
    margin: 3vh 2vw;    
}
section#lessons-commentary section#form-comment{
}

section#lessons-commentary section#form-comment div input[type="submit"] {
    transition: 0.4s ease-out;
}
section#lessons-commentary section#form-comment div.form-btn {
    display: flex;
    justify-content: center;
}

@keyframes grow-anim {
    100% {transform: scale(10);}
}
#cursus {
    display: flex;
    justify-content: space-between;
}
#cursus div{
    position: relative;
    background: var(--important);
    min-height: 4.1rem  ;
    padding-left: 10px;
}
#cursus .past{
    background: var(--interactif);
}
#cursus .current {
    background: var(--main);
    color: var(--backgroung);
}

#cursus div::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    border-top: calc(4.1rem + 1px) solid var(--backgroung);
    border-right: 10px solid var(--important);
    width: 0;
    z-index: 1;
}
#cursus .past::before{
    border-right: 10px solid var(--interactif);
}
#cursus .current::before{
    border-right: 10px solid var(--main);
}

#cursus div::after{
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    border-bottom: calc(4.1rem + 1px) solid var(--backgroung);
    border-left: 10px solid var(--important);
    width: 0;
    z-index: 1;
}
#cursus .past::after{
    border-left: 10px solid var(--interactif);
}
#cursus .current::after{
    border-left: 10px solid var(--main);
}

#cursus li{
    width: 100%;
    position: relative;

}
#cursus a{
    padding: 0 10px;
    color: var(--main);
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;right: 0;bottom: 0;left: 0;
    z-index: 2;
}
#cursus .current a{
    color: var(--backgroung);
}

/* ? Lessons-container*/
form#container-lessons-filter{
    display: flex;
    padding-bottom: 15px;
    
}
form#container-lessons-filter input[type="checkbox"]{
    display: none;

}
form#container-lessons-filter label[for="cours-lessons"]{
    background-color: var(--main);
    padding: 4px 0;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}
form#container-lessons-filter label[for="cours-lessons"] span.cour-input{
    background-color: var(--important);
}
form#container-lessons-filter label[for="cours-lessons"] span{
    padding: 4px;
    color: var(--backgroung);
}
form#container-lessons-filter input[type="checkbox"]:checked ~ label[for="cours-lessons"] span.cour-input{
    background-color: var(--main);
}
form#container-lessons-filter input[type="checkbox"]:checked ~ label[for="cours-lessons"] span.formation-input{
    background-color: var(--important);
}


#lessons-container, #cursus-container{
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-auto-flow: dense;
    z-index: 2;
}
#lessons-container .card-lesson, #cursus-container .card-cursus{
    position: relative;
    width: 100%;
    min-height: 300px;
}
#lessons-container .card-lesson p, #cursus-container .card-cursus p{
    color: var(--backgroung);
}
#lessons-container .card-lesson::after, #cursus-container .card-cursus::after, #lessons-container .card-lesson::before, #cursus-container .card-cursus::before,
#lessons-container .card-lesson .card-content, #cursus-container .card-cursus .card-content{
    background:  linear-gradient(135deg, var(--interactif) 30%, transparent 55%),linear-gradient(225deg, var(--backgroung) 0% 2%, var(--main) 10%);
    border: 6px var(--important) solid;
    border-radius: 5px;
    
}
.card-content > div{
    height: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-content .bottom-card > *{
    font-size: 1.4rem;
}
.card-content .bottom-card{
    display: inline-flex;
    justify-content: space-evenly;
    
}
#lessons-container .card-lesson .card-content, #cursus-container .card-cursus .card-content{
    z-index: 2;
    position: absolute;
    top: 0;bottom: 0;right: 0;left: 0;
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.51);
}
#lessons-container .card-lesson::after, #cursus-container .card-cursus::after, #lessons-container .card-lesson::before, #cursus-container .card-cursus::before{
    content: "";
    position: absolute;
    top: 0;left: 0;bottom: 0;right: 0;
    z-index: 0;
    transition: transform 0.2s ease-out;
}
#lessons-container .card-lesson::after, #cursus-container .card-cursus::after{

    transform: rotateZ(3deg);
}
#lessons-container .card-lesson:hover::before, #cursus-container .card-cursus:hover::before{

    transform: rotateZ(-6deg);
}
#lessons-container .card-lesson:hover::after, #cursus-container .card-cursus:hover::after{
    
    transform: rotateZ(6deg);
}
#lessons-container .card-lesson::before, #cursus-container .card-cursus::before{
    transform: rotateZ(-3deg);
    
}
#lessons-container .card-lesson > *, #cursus-container .card-cursus > *{
    color: var(--main);
}
#lessons-container .card-lesson .cursus a{
    color: var(--interactif);
}
#cursus-container .card-cursus h2, #lessons-container .card-lesson h2{
    word-wrap: break-word;
    padding: 0;
    margin: 0;
    height: 4rem;
    overflow: hidden;
    font-size: 1.8rem;
    line-height: 2rem;
    text-align: center;
    color: var(--important);
    border-bottom: 4px solid var(--interactif);
}
#cursus-container .card-cursus .cursus-desc, #lessons-container .card-lesson .lesson-desc{
    padding: 0;
    margin: 0 15px;
    font-size: 1.3rem;
    line-height: 1.4rem;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80%;
    
    
}
#cursus-container .card-cursus .etapes{
    color: var(--interactif);
}