:root{
    --backgroung: #ECF0F1;
    --main: #2C3E50;
    --interactif: #16A085;
    --important: #F39C12;
    --green-gradiant: linear-gradient(45deg, var(--interactif) 20%, var(--main) 60%);
    --space-paragraph: 16px;
    --space-section: calc(var(--space-paragraph) * 2);
    --space-line: calc(var(--space-paragraph) / 2);
    --space-border: calc(var(--space-line) / 2);
}

input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    background: var(--backgroung);
}
/* *{
    outline: 1px red solid;
}  */

*, ::after, ::before{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
    color: var(--main);
}
body{
    overflow: hidden;
    overflow-y: scroll;
    background: rgb(227, 227, 227);
    font-size: 1.2rem;
}
fieldset{
    border-radius: var(--space-line);
    border-color: var(--interactif);
}
legend{
    padding: 0 var(--space-line);
}
textarea:focus-visible, input:focus-visible{
    border-color: var(--main) !important;
    outline: none;
}
textarea{
    transition: border-color 0.2s ease;
    resize: none;
    min-height: calc(var(--space-section) * 4);
    background-color: var(--backgroung);
}
textarea.v-resize{
    resize: vertical;
}

input[type="checkbox"]+label{
    cursor: pointer;
    padding: auto;
    width: 100%;
    padding-left: var(--space-paragraph);
}
input[type="checkbox"]{
    cursor: pointer;
    margin: auto 0;
    display: grid;
    place-content: center;
    width: calc(1rem + var(--space-border));
    height: calc(1rem + var(--space-border));
    border: var(--space-border) solid var(--interactif);
    border-radius: var(--space-border);
}
input[type="checkbox"]::before{
    content: "";
    width: 0.65rem;
    height: 0.65rem;
    transform: scale(0);
    transition: 0.2s transform ease-in-out;
    box-shadow: inset 1rem 1rem var(--important);
}
input[type="checkbox"]:checked::before{
    transform: scale(1);
}
input[type="file"]+label:hover{
    border-color: var(--important);
}
input[type="file"]+label{
    position: static !important;
    transform: translate(0) !important;
    text-align: center;
    width: 100%;
    left: 0px !important;
    margin-top: var(--space-paragraph);
    cursor: pointer;
    padding: var(--space-paragraph) var(--space-line);
    border: var(--space-border) var(--interactif) solid;
    border-radius:  var(--space-border);
}
input[type="file"]+label::before{
    display: inline-block;
    content: url(../img/upload-solid.svg);
    width: 1.4rem;
}
input[type="file"]{
    display: none;
}
li{
    list-style-type: none;
}

main{
    margin: 0 5vw;
    padding: var(--space-section) 40px;
    padding-top: calc(var(--space-section) * 3);
    min-height: 100vh;
    box-shadow: 0 0 15px 4px;
    background: var(--backgroung);
}
header{
    margin-bottom: 20px;
    border-bottom: 10px dashed var(--important);
    margin-top: var(--space-section);
}
h2{
    font-size: 2.2rem;
    letter-spacing: 4px;
}
h3{
    font-size:  2rem;
    letter-spacing: 3px;
}
h4{
    font-size: 1.6rem;
    letter-spacing: 2px;
}
h5{
    font-size: 1.4rem ;
    letter-spacing: 1px;
}

h4 a{
    font-size: 1.4rem;
    text-shadow: 0 0 2px var(--main);
}
section{
    padding: 3vh 0;
}
a{
    transition: color 0.2s ease-in;
    color: var(--interactif);
    text-decoration: solid underline 2px;
    
}
a:hover{
    color: var(--important) ;
}
a.link{
    text-decoration: none;
    color: var(--interactif);
    border-bottom: 1px solid  transparent;
    position: relative;
}
a.link:hover{
    color: var(--important);
    border-bottom-color: var(--important) ;
    transition: border 0.1s ease-out;
}
a.link::before{
    content: '';
    position: absolute;
    background-color: var(--interactif);
    left: 0;
    bottom: -1px;
    height: 2px;
    width: 100%;
    transform: scale(1);
    transform-origin: right;
    transition: transform 0.3s ease-in;
    border-radius: var(--space-border);
    
}
a.link:hover::before{
    transform: scale(0);
    transform-origin: left;
    
}
a.link.reverse:hover{
    transition: none;
    border-bottom: none;
}
a.link.reverse:hover::before{
    transform: scale(1);
}
a.link.reverse::before{
    transform: scale(0);
    background-color: var(--important);
}
#content p{
    padding-top: var(--space-paragraph);
}
a.btn {
    display: inline-block;
    position: relative;
    left: 40%;
    min-width: 10vw;
    margin-top: var(--space-line);
    margin-bottom: var(--space-paragraph);
    text-align: center;
    background: linear-gradient(45deg, var(--backgroung) 50%, var(--main) 50%, var(--interactif) 75% 100%);
    background-repeat: no-repeat;
    background-size: 200%;
    color: var(--interactif);
    border-radius: var(--space-border);
    border: var(--space-border) solid var(--interactif);
    transition: all 0.2s ease-in;
    padding: var(--space-line);
    text-decoration: underline solid var(--space-border);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
a.btn:hover {
    text-decoration: underline solid calc(var(--space-border) / 2);
    text-align: center;
    background-position: 100%;
    color: var(--backgroung);
    border-radius: var(--space-border);
    border: var(--space-border) solid var(--main);
    
}
strong{
    color: var(--important);
    background-clip: text;
    background: linear-gradient(45deg, var(--important) 0% 60%, var(--interactif) 100%);
    background: -webkit-linear-gradient(45deg, var(--important) 0% 60%, var(--interactif) 100%);
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--main);
    font-weight: 600;
    filter: brightness(0.8);    
}


.hide{
    display: none !important;
}

nav{
    padding-top: var(--space-section);
    z-index: 15;
    box-shadow: 0 0 20px ;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(2px);
}
nav ul{
    background: var(--green-gradiant);
    display: inline-flex;
    width: 100%;
}
nav ul .link{
    display: flex;
    width: 80%;
}
nav ul li{
    height: calc(var(--space-section) * 2);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: var(--space-border) solid var(--main);border-top: var(--space-border) solid var(--main);border-bottom: var(--space-border) solid var(--main);
    transition: all 0.2s;
    color: var(--important);
    background: linear-gradient(to left, transparent 50%, var(--important) 60% 90%, transparent);
    background-size: 200%;
    background-position: 100%;
}
nav ul li:hover{
    background-position: 0%;
}

nav ul li:hover > a{
    color: var(--main);
    -webkit-text-stroke: 1px transparent;
}

nav ul li a::before{
    background-color: var(--main);
}
nav ul li a{
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 3px;
    width: 100%;
    height: auto;
    text-align: center;
    color: inherit;
    line-height: 60px;
    font-weight: 600;
    -webkit-text-stroke: 1px var(--main);
}
nav ul li img{
    position: absolute;
    z-index: 16;
    top: 50%;
    right: 30%;
    transform: translate(-50%, -50%) scale(2);
    width: 50px;
    height: 50px;
    border-radius: 9999px;
}
nav ul > li:hover::before{
    transform:scale(1.5) translate(45px, -26%) ;
}
nav ul > li::before{
    content: url("../img/bg_settings_user.png");
    object-fit: fill;
    -webkit-clip-path: polygon(50% 93%, 70% 90%, 74% 85%, 86% 82%, 94% 74%, 97% 61%, 95% 50%, 98% 38%, 89% 19%, 83% 13%, 64% 5%, 36% 5%, 24% 13%, 19% 23%, 8% 36%, 6% 49%, 7% 56%, 5% 67%, 9% 78%, 19% 88%, 31% 89%, 39% 86%);
    clip-path: polygon(50% 93%, 70% 90%, 74% 85%, 86% 82%, 94% 74%, 97% 61%, 95% 50%, 98% 38%, 89% 19%, 83% 13%, 64% 5%, 36% 5%, 24% 13%, 19% 23%, 8% 36%, 6% 49%, 7% 56%, 5% 67%, 9% 78%, 19% 88%, 31% 89%, 39% 86%);
    position: absolute;
    width: 400px;
    height: 400px;
    transform-origin: 80% 20%;
    transition: all 0.4s ease-out;
    transform: translate(25px, -10%);
}
nav ul > li{
    position: relative;
    width: 20%;
}
.grow-anim{
    animation: grow-anim 1s ease-in 0s 1;
}
main header  span{
    color: var(--important);
    text-shadow: 0 0 3px var(--main);
}

header h2{
    font-size: 2.2rem;
    letter-spacing: var(--space-border);
    padding: var(--space-paragraph) 0;
    padding-left: var(--space-section);;
    
}
header h3{
    font-size:  1.5rem;
    padding: var(--space-paragraph) 0;
    padding-left: var(--space-paragraph);
}
header h4{
    margin-left: 5vw;
}
.presentation-box{
    margin: 10px;
    border-top: solid 1px var(--backgroung);
}

.presentation-box a {
    margin-left: 2vw;
}

footer{
    background: var(--green-gradiant);
    padding: var(--space-section) 0;
    box-shadow: 0px -3px 17px 0px;
    text-align: center;
}
footer p {
    color: var(--backgroung);
}
.lesson-card{
    min-width: 300px;
    width: 300px;
    height: 200px;
    margin: 0;
    transition: 0.3s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
.one-card-container:hover > .lesson-card{
    transform: rotateY(180deg);
}

.lesson-content li{
    list-style-type: space-counter;
}
.img-right{
    display: flex;
    align-items: flex-start;
}
.img-right img{
    margin: auto 0;
}
div.lesson-content li{
    list-style-position: inside;
}

div.lesson-content h2,div.lesson-content h3,div.lesson-content h4,div.lesson-content h5{
    line-height: 5rem;
}
pre, code{
    padding: var(--space-line);
    border-radius: var(--space-line);
    letter-spacing: 0.2rem;
    
}
code{
    background-color: var(--main);
    border:var(--space-border) solid var(--important);
    color: var(--backgroung);
    white-space: nowrap;
    line-height: 3.2rem;
}
pre{
    background-color: var(--main);
    border: var(--space-border) solid var(--important);
    color: var(--backgroung);

}

/* Topic */
#topic-content h3{
    text-align: center;
}
.form-anim h2 span{
    color: var(--important);
}
.form-anim h2{
    color: var(--main);
    line-height: 2.2rem;
}

.form-anim .form-groupe label{
    position: absolute;
    top: 50%;
    left: var(--space-line);
    transform: translateY(-50%);
    color: var(--main);
    transition: 0.4s ease-out;
    font-size: 2rem;
}

.form-anim .form-groupe input:not([type="file"]){
    display: block;
    width: 100%;
    padding: var(--space-line) 0px;
    border: none;
    outline: none;
    background: none;
    border-bottom: var(--space-border) solid var(--interactif);
    color: var(--main);
    font-size: 2rem;
    transition: 0.4s ease-out;
}
.form-anim .form-groupe textarea{
    width: 100%;
    border: var(--interactif) var(--space-border) solid;
    border-radius: var(--space-line);
    padding: var(--space-line);
}
.form-groupe.sub {
    margin-bottom: 2vh;
    justify-content: center;
}

.form-anim .form-groupe:not(:has(input[type="file"])){ 
    margin-top: calc(2rem +  var(--space-line));
    position: relative;
}
.form-anim .form-groupe{
    display: flex;
}
.form-anim .form-groupe input[type="submit"], section#lessons-commentary section#form-comment div input[type="submit"] {
    display: block;
    width: auto;
    padding: var(--space-paragraph) calc(var(--space-section) * 2);
    border: var(--space-border) solid var(--interactif);
    border-radius: 999px;
    background-image: linear-gradient(to right, transparent 50%, var(--interactif) 50%, var(--main));
    background-size: 200%;
    font-size: 2rem;
    cursor: pointer;
}

.form-anim .form-groupe input[type="submit"]:hover, section#lessons-commentary section#form-comment div input[type="submit"]:hover {
    color: var(--backgroung);
    background-position: 100%;
    border: var(--space-border) solid var(--backgroung);
}
.form-anim .link-form {
    padding-bottom: var(--space-line);
}
.form-anim .link-form a {
    margin-left: var(--space-paragraph);
    font-size: 1.5rem;
}
/* animation */
.form-anim .form-groupe:focus-within label,
.form-anim .form-groupe.animation label{
    top: -1rem;
    color: var(--important);
    font-size: 2rem;
}
.form-anim .form-groupe:focus-within input:not([type="submit"]):not([type="checkbox"]),
.form-anim .form-groupe.animation input:not([type="submit"]):not([type="checkbox"]),
.form-anim .form-groupe:focus-within textarea,
.form-anim .form-groupe.animation textarea{
    border-color: var(--important);
}

/* section des commentaire de cours */

section#lessons-commentary {
}
section#lessons-commentary section#all-comments{
    border: var(--main) var(--space-border) solid;
    padding: var(--space-paragraph);
    border-radius: var(--space-line);
    
}
section#lessons-commentary section#all-comments .comment-container{
    border: var(--main) 1px solid;
    margin: var(--space-paragraph) 0;
    padding: var(--space-line) var(--space-paragraph);
    border-radius: var(--space-border);
}
section#lessons-commentary section#all-comments .comment-container{
    width: 100%;
}
section#lessons-commentary section#all-comments .comment-container p {
    padding-top: 0;
}
section#lessons-commentary section#all-comments .comment-container .author{
    font-size: 1.4rem;
    margin-left: var(--space-line);
    font-weight: 600;
}
section#lessons-commentary section#all-comments .comment-container .created-at{
    font-size: 0.8rem;
    text-align: right;
}
section#lessons-commentary section#all-comments .comment-container .comment{
    width: 100%;
}
section#lessons-commentary section#form-comment div{
    display:flex;
    margin-left: var(--space-paragraph); margin-right: var(--space-paragraph);margin-bottom: var(--space-paragraph);
}
section#lessons-commentary section#form-comment{
}

section#lessons-commentary section#form-comment div input[type="submit"] {
    transition: 0.4s ease-out;
}
@keyframes grow-anim {
    100% {transform: scale(10);}
}
#cursus {
    display: flex;
    justify-content: space-between;
}
#cursus div{
    position: relative;
    background: var(--important);
    min-height: 4.1rem;
    padding-left: var(--space-line);
}
#cursus .past{
    background: var(--interactif);
}
#cursus .current {
    background: var(--main);
    color: var(--backgroung);
}

#cursus div::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    border-top: calc(4.1rem + 1px) solid var(--backgroung);
    border-right: var(--space-line) solid var(--important);
    width: 0;
    z-index: 1;
}
#cursus .past::before{
    border-right: var(--space-line) solid var(--interactif);
}
#cursus .current::before{
    border-right: var(--space-line) solid var(--main);
}

#cursus div::after{
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    border-bottom: calc(4.1rem + 1px) solid var(--backgroung);
    border-left: var(--space-line) solid var(--important);
    width: 0;
    z-index: 1;
}
#cursus .past::after{
    border-left: var(--space-line) solid var(--interactif);
}
#cursus .current::after{
    border-left: var(--space-line) solid var(--main);
}

#cursus li{
    width: 100%;
    position: relative;

}
#cursus a{
    padding: 0 var(--space-line);
    text-decoration: none;
    color: var(--main);
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;right: 0;bottom: 0;left: 0;
    z-index: 2;
}
#cursus .current a{
    color: var(--backgroung);
}

/* ? Lessons-container*/
form#container-lessons-filter{
    display: flex;
    padding-bottom: var(--space-paragraph);
    
}
form#container-lessons-filter input[type="checkbox"]{
    display: none;

}
form#container-lessons-filter label[for="cours-lessons"]{
    width: auto;
    background-color: var(--main);
    padding: var(--space-border) 0;
    border: 1px solid black;
    border-radius: var(--space-border);
    cursor: pointer;
}
form#container-lessons-filter label[for="cours-lessons"] span.cour-input{
    background-color: var(--important);
}
form#container-lessons-filter label[for="cours-lessons"] span{
    padding: var(--space-border);
    color: var(--backgroung);
}
form#container-lessons-filter input[type="checkbox"]:checked ~ label[for="cours-lessons"] span.cour-input{
    background-color: var(--main);
}
form#container-lessons-filter input[type="checkbox"]:checked ~ label[for="cours-lessons"] span.formation-input{
    background-color: var(--important);
}


#lessons-container, #cursus-container{
    margin: var(--space-paragraph);
    display: grid;
    grid-gap: var(--space-section);
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-auto-flow: dense;
    z-index: 2;
}
#lessons-container .card-lesson, #cursus-container .card-cursus{
    position: relative;
    width: 100%;
    min-height: 300px;
}
#lessons-container .card-lesson p, #cursus-container .card-cursus p{
    color: var(--backgroung);
}
#lessons-container .card-lesson::after, #cursus-container .card-cursus::after, #lessons-container .card-lesson::before, #cursus-container .card-cursus::before,
#lessons-container .card-lesson .card-content, #cursus-container .card-cursus .card-content{
    
    background:  linear-gradient(135deg, var(--interactif) 30%, transparent 55%),linear-gradient(225deg, var(--backgroung) 0% 2%, var(--main) 10%);
    border: var(--space-border) var(--important) solid;
    border-radius: var(--space-border);
    padding: var(--space-line);
    
}
.card-content > div{
    height: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-content .bottom-card > *{
    font-size: 1.4rem;
}
.card-content .bottom-card{
    display: inline-flex;
    justify-content: space-evenly;
    
}
#lessons-container .card-lesson .card-content, #cursus-container .card-cursus .card-content{
    z-index: 2;
    position: absolute;
    top: 0;bottom: 0;right: 0;left: 0;
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.51), rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
#lessons-container .card-lesson::after, #cursus-container .card-cursus::after, #lessons-container .card-lesson::before, #cursus-container .card-cursus::before{
    content: "";
    position: absolute;
    top: 0;left: 0;bottom: 0;right: 0;
    z-index: 0;
    transition: transform 0.2s ease-out;
}
#lessons-container .card-lesson::after, #cursus-container .card-cursus::after{

    transform: rotateZ(3deg);
}
#lessons-container .card-lesson:hover::before, #cursus-container .card-cursus:hover::before{

    transform: rotateZ(-6deg);
}
#lessons-container .card-lesson:hover::after, #cursus-container .card-cursus:hover::after{
    
    transform: rotateZ(6deg);
}
#lessons-container .card-lesson::before, #cursus-container .card-cursus::before{
    transform: rotateZ(-3deg);
    
}
#lessons-container .card-lesson > *, #cursus-container .card-cursus > *{
    color: var(--main);
}
#lessons-container .card-lesson .cursus a{
    color: var(--interactif);
}
#cursus-container .card-cursus h2, #lessons-container .card-lesson h2{
    word-wrap: break-word;
    padding: 0;
    margin: 0;
    height: 4rem;
    overflow: hidden;
    font-size: 1.8rem;
    line-height: 2rem;
    text-align: center;
    color: var(--important);
    border-bottom: var(--space-border) solid var(--interactif);
}
#cursus-container .card-cursus .cursus-desc, #lessons-container .card-lesson .lesson-desc{
    padding: 0;
    margin: 0 var(--space-paragraph);
    font-size: 1.3rem;
    line-height: 1.4rem;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80%;
    
    
}
#cursus-container .card-cursus .etapes{
    color: var(--interactif);
}
.green{
    background-color: var(--interactif);
}