:root{
    --primary-dark:rgb(172, 134, 46);
    --primary:rgb(204, 159, 56);
    --primary-light:rgb(230, 180, 64);
    --secondary-dark: rgb(174, 100, 216) ;
    --secondary: rgb(202 129 243) ;
    --secondary-light: rgb(220, 159, 255) ;
    --light: rgb(244, 244, 244) ;
    --gray: rgb(129, 127, 116) ;
    --dark: rgb(24, 24, 22) ;
    --dark-less-opacity: rgba(24, 24, 22, 0.344) ;
}
@font-face {
    font-family: "poppins";
    src: url(./assets/Poppins.ttf);
}

/* *{
    outline: 1px red solid;
} */

*, ::after, ::before{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    overflow-y: scroll;
    background: rgb(227, 227, 227);
    font-size: 1.2rem;
}

nav ul{
    display: flex;
    justify-content: space-around;
}
textarea{
    resize: none;
}
li{
    list-style-type: none;
}
a{
    color: var(--primary);
}
a:hover{
    color: var(--primary-light) ;
    transition: all 0.1s ease-out;
}
h4 a{
    font-size: 1.4rem;
    text-shadow: 0 0 2px var(--dark);
}
nav ul li img:nth-last-child(1){
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translate(-50%, -50%) scale(2);
}
nav ul li:hover img:nth-child(1){
    transform:scale(1.5) translate(45px, -26%) ;
}
nav ul li img:nth-child(1){
    transform-origin: 80% 20%;
    transition: all 0.2s ease-out;
    transform: translate(25px, -10%);
}
nav ul li:nth-last-child(1){
    position: relative;
}
.grow-anim{
    animation: grow-anim 1s ease-in 0s 1;
}
nav ul li{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--dark);
    transition: all 0.2s;
    color: var(--primary);
}
nav{
    backdrop-filter: blur(10px);
    background-color: var(--dark-less-opacity);
    margin-top: 5vh;
    z-index: 2;
    box-shadow: 0 0 20px ;
    position: fixed;
    width: 100%;
}
main header  span{
    color: var(--primary);
    text-shadow: 0 0 3px var(--dark);
}

nav ul li:hover{
    background: var(--primary);
}

nav ul li:hover > a{
    color: var(--dark);
}
nav ul li a{
    font-size: 1.5rem;
    letter-spacing: 3px;
    width: 100%;
    height: auto;
    text-align: center;
    color: inherit;
    line-height: 60px;
}

main{
    margin: 0 20vh;
    padding: 15px 40px;
    min-height: 100vh;
    box-shadow: 0 0 15px 4px;
    background: var(--light);
}

header{
    margin-bottom: 20px;
    border-bottom: 10px dashed var(--primary);
    margin-top: 10vh;
}
header h2{
    padding-left: 13vw;
    font-size: 2.2rem;
    letter-spacing: 4px;
    line-height: 140px;
}
header h3{
    padding-left: 5vw;
    font-size:  1.5rem;
}
header h4{
    margin-left: 5vw;
}
h2{
    font-size: 2.2rem;
    letter-spacing: 4px;
    line-height: 140px;;
}
h3{
    font-size:  2rem;
    letter-spacing: 3px;

}
h4{
    font-size: 1.6rem;
    letter-spacing: 2px;
    line-height: 60px;
}
h5{
    font-size: 1.4rem ;
    line-height: 40px;
    letter-spacing: 1px;
}

section{
    padding: 3vh 0;
}

.presentation-box{
    margin: 10px;
    border-top: solid 1px var(--light);
}

.presentation-box a {
    margin-left: 2vw;
}

#other-presentation, #content-cards{
    border-bottom: 4px double var(--primary);
    box-shadow: 0px 6px 8px -5px var(--primary);
}

footer{
    background: var(--gray);
    padding: 30px 4vw;
    box-shadow: 0px -3px 17px 0px;
    text-align: center;
}

.lesson-card{
    min-width: 300px;
    width: 300px;
    height: 200px;
    margin: 0;
    transition: 0.3s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
#content-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 30px;
    padding: 30px;
    margin-bottom: 40px;
}
.face-card{
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 16px;
    box-shadow: 8px 5px 15px 0 var(--dark);
}
.one-card-container:hover > .lesson-card{
    transform: rotateY(180deg);
}
.front-card h3{

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
}
.back-card{
    transform: rotateY(180deg);
    background: var(--dark);
}
.back-card h4{
    margin: 0;
    padding-left: 2vw;
    background-image: linear-gradient(to bottom left, var(--dark) 10%, var(--gray) 115%);
    /* background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%); */
    border-radius: 0 0 75% 0;
}
.back-card h4::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(to bottom left, var(--gray) 10%, var(--dark) 115%);
    border-radius: 0 0 50% 0;
}
.back-card p{
    color: var(--light);
}
.front-card{
    position: relative;
}
#structure-front{
    background: url(./assets/structure_html.webp) center/cover;
}

#html-front{
    background: url(./assets/html.PNG);
    color: var(--light);
}
.lesson-content li{
    list-style-type: space-counter;
}
.img-right{
    display: flex;
    align-items: flex-start;
}
.img-right img{
    margin: auto 0;
}
div.lesson-content li{
    list-style-position: inside;
}

div.lesson-content h2,div.lesson-content h3,div.lesson-content h4,div.lesson-content h5{
    line-height: 5rem;
}
code{
    background-color: var(--gray);
    border: 2px solid var(--dark);
    border-radius: 4px;
    white-space: nowrap;
    letter-spacing: 0.2rem;
}
pre{
    background-color: var(--gray);
    border: 2px solid var(--dark);
    border-radius: 4px;
    letter-spacing: 0.2rem;

}

/* Topic */
#topic-content h3{
    text-align: center;
}

#topic-content #topic-explication {
    border: 4px double var(--primary);
    border-radius: 5px;
    margin-bottom: 3vh;
    
}

#topic-content .topic-answer{
    border: 2px solid var(--gray);
    margin-bottom: 2vh;
    background: var(--light);
}

#topic-content .topic-answer,#topic-content #topic-explication{
    padding: 1vh 4vw;
}

#comment-topic{
    text-align: center;
}

.form-anim h2 strong{
    color: var(--primary);
}
.form-anim h2{
    color: var(--gray);
    text-shadow: -2px 2px 0 var(--dark),
                    2px -2px 0 var(--dark),
                    -2px -2px 0 var(--dark),
                    2px 2px 0 var(--dark);
}

.form-anim .form-groupe label{
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    color: var(--gray);
    transition: 0.4s ease-out;
    font-size: 2rem;
}

.form-anim .form-groupe input{
    display: block;
    width: 100%;
    padding: 10px 0px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 3px solid var(--gray);
    color: var(--gray);
    font-size: 2rem;
    transition: 0.4s ease-out;
}
.form-groupe:nth-last-child(2) {
    margin-bottom: 2vh;
    justify-content: center;
}

.form-anim .form-groupe{
    position: relative;
    display: flex;
    margin-bottom: 40px;
}
.form-anim .form-groupe input[type="submit"], section#lessons-commentary section#form-comment div input[type="submit"] {
    display: block;
    width: auto;
    padding: 15px 60px;
    border: 3px solid var(--secondary);
    border-radius: 999px;
    background-image: linear-gradient(to right, transparent 50%, var(--secondary) 50%, var(--secondary-dark));
    background-size: 200%;
    font-size: 2rem;
    cursor: pointer;
}

.form-anim .form-groupe input[type="submit"]:hover, section#lessons-commentary section#form-comment div input[type="submit"]:hover {
    color: var(--primary-dark);
    background-position: 100%;
    border: 3px solid var(--light);
}

.form-anim .link-form a {
    margin-left: 2vw;
    font-size: 1.5rem;
    border-bottom: 2px solid  transparent;
}
.form-anim .link-form a:hover{
    border-bottom-color: var(--primary) ;
}

/* animation */
.form-anim .form-groupe:focus-within label,
.form-anim .form-groupe.animation label{
    top: 0px;
    transform: translateY(-100%);
    color: var(--primary);
}
.form-anim .form-groupe:focus-within input,
.form-anim .form-groupe.animation input{
    border-color: var(--primary);
}

/* section des commentaire de cours */

section#lessons-commentary {
}
section#lessons-commentary section#all-comments{
    
}
section#lessons-commentary section#all-comments .comment-container{
    border: var(--dark) 1px solid;
    margin: 1vh 0;
    padding: 2vh 1vw;
    border-radius: 10px;
}
section#lessons-commentary section#all-comments .comment-container{
    width: 100%;
}
section#lessons-commentary section#all-comments .comment-container .author{
    width: 80%;
    font-size: 1.4rem;
    margin-left: 1vw;
    font-weight: 600;
}
section#lessons-commentary section#all-comments .comment-container .created-at{
    font-size: 0.8rem;
    text-align: right;
}
section#lessons-commentary section#all-comments .comment-container .comment{
    width: 100%;
}
section#lessons-commentary section#form-comment div{
    display:flex;
    margin: 3vh 2vw;    
}
section#lessons-commentary section#form-comment{
}

section#lessons-commentary section#form-comment div input[type="submit"] {
    transition: 0.4s ease-out;
}
section#lessons-commentary section#form-comment div.form-btn {
    display: flex;
    justify-content: center;
}

@keyframes grow-anim {
    100% {transform: scale(10);}
}