<%- include('../partials/header') %> 
<div class="content">
    <a href="/admin-lesson">Lesson</a>
    <a href="/admin-user">Utilisateur</a>
    <a href="/admin-commentary">Commentaire</a>
</div>
<%- include('../partials/footer') %> 