<%- include('../partials/header') %> 
      <div id="content">
        <h2>La page est en cours de dévellopement, revenez plus tard ...</h2>
        <h4>Veuillez nous escusez</h4>
      </div>
<%- include('../partials/footer') %>
