<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Pages en cours de développement | Journal du Dév</title>
  <%- include('../partials/head') %>
    <meta name="description" content="Page indisponible pour le moment...">
    <meta name="keywords"
      content="le journal du dév,programmation,informatique,développement,apprendre,communauté,cours,forums">
</head>

<body>
  <%- include('../partials/nav') %>
    <main>
      <%- include('../partials/header') %>
        <div id="content">
          <h2>La page est en cours de dévellopement, revenez plus tard ...</h2>
          <h4>Veuillez nous escusez</h4>

        </div>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>