<%- include('../partials/header') %> 
      <div id="content">
            <p id="intro">
                  Tu souhaites t'améliorer dans le domaine de l'informatique, que se soit
                  la création se site web, programmation de jeux video, ou plein d'autre
                  chose ... , Tu est le bienvenue. <br />Le journale du dév a pour but de
                  te faire comprendre la logique de la programmation affin que tu est les
                  connaisances minimal te spécialiser dans n'importe quelle domaine
                  informatique(et de la programmation) dans le futur.
                </p>
                <section>
                <div id="front-presentation" class="presentation-box">
                  <h4><a href="./front.html">Front-end :</a></h4>
                  <p>
                    Dans la Section Front-end. Nous allons apprendre a utiliser notament le
                    css et le Javascript avec ses frameWork pour les plus avancé. Mais pas
                    que, vous allez notament aprendre de la théorie tel que la structure des
                    pages, les différents types de design, les normes du web,...
                  </p>
          
                </div>
                <div id="game-presentation" class="presentation-box">
                  <h4><a href="./game.html">Jeux Vidéo:</a></h4>
                  <p>
                    Avant d'aprendre la réel création de jeux video, nous allons apprendre a
                    utiliser python affin de comprendre la logique algotithmique. Puis nous
                    allons créer nos premier jeux video avec le module Pygame. De nombreux
                    tutos seront disponible sur pygame comme la gestion de la map avec des
                    Tiles, ou même la création de menu. Un suites me parait aussi
                    envisagable avec de la creation de jeux video en C# ou C++.
                  </p>
          
                </div>
                <div id="back-presentation" class="presentation-box">
                  <h4><a href="./back.html">Back-end :</a></h4>
                  <p>
                    Apprendre le back-end peut sembler complexe et ennuyant si on n'as pas
                    suivit d'etudes mathématique mais cette univers de la programmation est
                    enfaite accessible au commun des mortels et a des niveaux de debutant ne
                    demande même pas d'avoir de réel connaissances en maths. Vous allez donc
                    apprendre la programmation avec php et Sql en prenant votre temps 
                    désiré, jusqu'à la creation d'un systeme entier de session(inscription,
                    connexion).
                </div>
                </p>
                <div id="other-presentation" class="presentation-box">
                  <h4><a href="./other.html">Autre :</a></h4>
                  <p>
                    Ici serons regrouppez tout les articles que je ne sais pas ou placer.
                    Cela peut etre de la gestion de réseau, de la compréhension/explication
                    de paradigme, du language bash/shell, ou bien meme du git avec gitHub!
                  </p>
                </div>
              </section>
              <section>
                <p>Tous les cours son mis a disposition en toutes gratuité, si vous souhaitez soutenir le projet, partager le site ou soyez actif dessus, merci d'avance! </p>
                <p>Le Journale Du Dév a pour but d'être une communautée de programmeur, si vous avez des idées, des critiques constructives ou des bugs, veuillez nous contacter dans la page créer pour ceci. Le JDD a plusieur objectif, des cours pertinant en access libre, des définition simples de therme technique, un Forum dédiéer au probleme de la communauté et enfin un "market" de la communauté ou vous pouvez obtenir des cosmétiques (badge, couleur personnaliser de nom, contour de logo) en échange de réputation, obtenable grace a vos commentaire de cours, vos aide sur le forum, ou meme vos découvertes de bug sur le site.</p>
              </section>
              <section>
                <p><a href="dictionary.html">Les définitions </a>on était mis en place pour permettre au plus débutant de comprendre l'intégralité du cours, la description est simple et avec le minimum de therme technique possible, toutes fois si vous avez des doutes sur votre compréhension des définitions, nous mettons toujours a disposition des sources pour approfondir vos recherches.</p>
              </section>
                <p id="ending">
                  Si vous vous sentez intereser par le contenu proposer n'hésitez pas a
                  revenir sur le site, je suis un jeune programmeur indépendant
                </p>
                <!-- Todo Ajout des cours en card liste brut -->
          
      </div>
<%- include('../partials/footer') %>
