<%- include('../partials/header') %> 
      <div id="content">
        <p id="intro">Bienvenue sur notre site dédié à l'<strong>informatique</strong> ! Nous sommes heureux de vous accueillir ici, dans l'univers passionnant de la technologie.</p>
        <p id="cour">Vous êtes débutant en informatique ? Pas de problème ! Nous avons conçu des cours pour tous les niveaux, afin que vous puissiez apprendre à votre rythme et devenir un expert en un rien de temps. Et pour les plus expérimentés d'entre vous, nos cours avancés vous permettront de perfectionner vos compétences.</p>
        <p id="forum">Vous avez des questions ou des problèmes à résoudre ? Rejoignez notre communauté d'experts sur notre forum en cours de développement. Les membres du groupe se feront un plaisir de vous aider.</p>
        <p id="maket">Jetez un coup d'œil à notre marché en cours de développement, où vous trouverez des produits pour tous vos besoins informatiques.</p>
        <p id="projet">Et si vous êtes à la recherche d'un défi supplémentaire, jetez un coup d'œil à notre page mystère "Projet" en cours de développement. Nous ne pouvons pas vous en dire plus pour le moment, mais sachez que cela va vous mettre au défi et vous donner l'occasion de montrer vos compétences.</p>
        <p id="user">Découvrez comment Programmation.org peut vous aider à devenir un meilleur programmeur et à atteindre vos objectifs. Inscrivez-vous aujourd’hui et rejoignez notre communauté.</p>
        <p id="outro">Nous espérons que vous apprécierez votre séjour sur notre site et que vous apprendrez beaucoup de choses amusantes et intéressantes. N'oubliez pas de sourire et de prendre du plaisir dans l'apprentissage de l'informatique, c'est ce qui fait toute la différence !</p>
      </div>
<%- include('../partials/footer') %>
