<%- include('../partials/header') %> 
<div id="content">
  <form action="" method="post" id="connection" class="form-anim">
    <fieldset>
      <legend><h2><strong>Inscrivez</strong>-Vous</h2></legend>

      <div class="form-groupe">
        <label for="user">Votre Nom d'utilisateur/adressse email</label><input type="text" name="name" id="user" required>
      </div>
      <div class="form-groupe">
        <label for="email">Votre email</label> <input type="email" name="email" id="email" required>
    </div>
    <div class="form-groupe">
      <label for="pass">Votre mot de passe</label> <input type="password" name="password" id="pass"
       required>
    </div>
    <div class="form-groupe">
      <label for="pass">Confirmation de votre mot de passe</label> <input type="password" name="confirmpassword" id="confirm-pass"
       required>
    </div>
    <div class="form-groupe">
      <input type="submit" value="Inscription">
    </div>
    <div class="mdp-perdu">
      <a href="#">Connection</a>
    </div>
  </fieldset>
  </form>
</div>
<%- include('../partials/footer') %> 
